name: Continuous Deployment

on:
  workflow_run:
    workflows: ["Continuous Integration"]  # Nom exact de ton workflow CI
    types:
      - completed
  workflow_dispatch:  # Permet de déclencher manuellement le déploiement

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Checkout du repo
      - uses: actions/checkout@v3

      # 5️⃣ Déploiement sur Hugging Face
      - name: Deploy to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}   # Ton token Hugging Face
        run: make deploy HF_TOKEN=$HF_TOKEN
